<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>games</key>
		<dict>
			<key>attributes</key>
			<dict>
				<key>cloneof</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
				<key>name</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
				<key>romof</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
				<key>runnable</key>
				<dict>
					<key>default</key>
					<true/>
					<key>type</key>
					<string>boolean</string>
				</dict>
				<key>sampleof</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
				<key>sourcefile</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
			</dict>
			<key>elements</key>
			<dict>
				<key>description</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>maps-to</key>
					<string>desc</string>
					<key>type</key>
					<string></string>
				</dict>
				<key>manufacturer</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string></string>
				</dict>
				<key>year</key>
				<dict>
					<key>default</key>
					<string></string>
					<key>type</key>
					<string>date</string>
				</dict>
			</dict>
			<key>entities</key>
			<dict>
			
				<key>inputs</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>buttons</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>coins</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>players</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>service</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>boolean</string>
						</dict>
						<key>tilt</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>boolean</string>
						</dict>
					</dict>
					<key>entities</key>
					<dict>
						<key>controls</key>
						<dict>
							<key>attributes</key>
							<dict>
								<key>type</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string></string>
								</dict>
								<key>keydelta</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string>integer</string>
								</dict>
								<key>maximum</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string>integer</string>
								</dict>
								<key>minimum</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string>integer</string>
								</dict>
								<key>reverse</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string>boolean</string>
								</dict>	
								<key>sensitivity</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string>integer</string>
								</dict>			
							</dict>							
							<key>entity</key>
							<string>control</string>
							<key>to-many</key>
							<true/>
						</dict>
					</dict>
					<key>entity</key>
					<string>input</string>
					<key>to-many</key>
					<true/>
				</dict>					
			
				<key>biosset</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>default</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>boolean</string>
						</dict>
						<key>description</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>maps-to</key>
							<string>desc</string>
							<key>type</key>
							<string></string>
						</dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>biosset</string>
					<key>to-many</key>
					<false/>
				</dict>
				
				<key>chips</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>clock</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>float</string>
						</dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>type</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>chip</string>
					<key>to-many</key>
					<true/>
				</dict>
				
				<key>dipswitches</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entities</key>
					<dict>
						<key>dipvalues</key>
						<dict>
							<key>attributes</key>
							<dict>
								<key>name</key>
								<dict>
									<key>default</key>
									<string></string>
									<key>type</key>
									<string></string>
								</dict>
								<key>default</key>
								<dict>
									<key>default</key>
									<false/>
									<key>type</key>
									<string>boolean</string>
								</dict>
							</dict>								
							<key>entity</key>
							<string>dipvalue</string>
							<key>to-many</key>
							<true/>
						</dict>
					</dict>
					<key>entity</key>
					<string>dipswitch</string>
					<key>to-many</key>
					<true/>
				</dict>		
				<key>disks</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>index</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>md5</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>merge</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>region</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>sha1</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>status</key>
						<dict>
							<key>default</key>
							<string>good</string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>disk</string>
					<key>to-many</key>
					<true/>
				</dict>
				<key>displays</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>flipx</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>boolean</string>
						</dict>
						<key>height</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>refresh</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>float</string>
						</dict>
						<key>rotate</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>type</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>width</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
					</dict>
					<key>entity</key>
					<string>display</string>
					<key>to-many</key>
					<true/>
				</dict>
				<key>driver</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>cocktail</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>color</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>emulation</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>graphic</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>palettesize</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>protection</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>savestate</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>sound</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>status</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>driver</string>
					<key>to-many</key>
					<false/>
				</dict>
				<key>roms</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>bios</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>crc</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>dispose</key>
						<dict>
							<key>default</key>
							<false/>
							<key>type</key>
							<string>boolean</string>
						</dict>
						<key>md5</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>merge</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>offset</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>region</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>sha1</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
						<key>size</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
						<key>status</key>
						<dict>
							<key>default</key>
							<string>good</string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>rom</string>
					<key>to-many</key>
					<true/>
				</dict>
				<key>samples</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>name</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string></string>
						</dict>
					</dict>
					<key>entity</key>
					<string>sample</string>
					<key>to-many</key>
					<true/>
				</dict>
				<key>sound</key>
				<dict>
					<key>attributes</key>
					<dict>
						<key>channels</key>
						<dict>
							<key>default</key>
							<string></string>
							<key>type</key>
							<string>integer</string>
						</dict>
					</dict>
					<key>entity</key>
					<string>sound</string>
					<key>to-many</key>
					<false/>
				</dict>
			</dict>
			<key>entity</key>
			<string>game</string>
		</dict>
		<key>to-many</key>
		<true/>
	</dict>
</dict>
</plist>
